<%- include('head.ejs') %>
<main>
<section>
<h1>Edit your profile</h1>
<h2>Name: <%= profile.name %></h2>
<form action="/edit-profile" method="post">

<label>
	Favorite food 1
	<input name="interest1" value="<%= profile.interest1 %>">
    
</label> <br>
<label>
	Favorite food 2
	<input name="interest2" value="<%= profile.interest2 %>">
</label> <br>
<label>
	Tell us about yourself
	<textarea name="about" rows="5" > <%= profile.about %></textarea>
</label> <br>

<input type="submit" value="Save">
<input type="hidden" value="<%= profile._id %>" name="profile_id"> <!-- profile Id word meegegeven zodat we weten om welk profiel het gaat in de javascript-->
</form>
</section>
</main>
<%- include('foot.ejs') %>

