<%- include('head.ejs') %>

    <h1>Profiles</h1>


    <% profiles.forEach(profile => { %> 
        <h3>Name: <%= profile.name %> </h3> 
        <h3>Interest: <%= profile.interest1 %> </h3>
        <h3>Interest: <%= profile.interest2 %> </h3> 
        <p>About: <%= profile.about %> </p> <br>
        <a href="/delete-profile/<%= profile._id %>">Delete profile</a>
        <a href="/edit-profile/<%= profile._id %>">Edit profile</a>
    <% }); %>
    
<%- include('foot.ejs') %>

