<%- include('head.ejs') %>

    <h1>This is your profile</h1>
    <p>You like, no?</p>

  
        <h3>Name: <%= profile.name %> </h3> 
        <h3>Interest: <%= profile.interest1 %> </h3>
        <h3>Interest: <%= profile.interest2 %> </h3> 
        <p>About: <%= profile.about %> </p> <br>
        <a href="/delete-profile/<%= profile._id %>">Delete profile</a>
 
    
<%- include('foot.ejs') %>

